---
import siteData from "@config/siteData.json";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
	<div class="font-heading-1 text-xl uppercase">{siteData.name}</div>
</a>
